@import "../styles/variables";

.main {
  margin: 0 auto;
  width: $window_width;
}

.container {
  &__block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 30px;
  }
}

.title {
  display: flex;
  flex-direction: row;
  cursor: default;
  align-items: center;

  &__arrow {
    width: 30px;
    height: 30px;
    rotate: 0;
    transition: 0.5s;
  }

  &__title {
    font-size: $caption_font_size;
    font-weight: $caption_font_weight;
    color: $caption_font_color;
  }

  &__active {
    img {
      transition: 0.5s;
      rotate: 90deg;
    }
  }
}

.links {
  padding-left: 50px;

  &__link {
    text-decoration: none;
    font-size: $text_font_size;
    color: $green_color;

  }

  &__link:hover {
    color: $caption_font_color;
  }
}

.button {
  width: 220px;
  height: 60px;
  background: $white_color;
  border-radius: 50px;
  border: none;
  color: $burgundy_color;
  font-size: $text_font_size;
  box-shadow: 0 10px 20px rgba(82, 0, 29, 0.2);
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: $hover_color;
  color: $white_color;
  box-shadow: 0 10px 20px rgba(49, 222, 112, 0.7);
  transform: translateY(-10px);
  transition: 0.3s;
}