$navbar_color: #00514C;
$white_color: white;
$window_width: min(1170px, 100vw);
$caption_font_size: 26px;
$caption_font_color: #002B2B;
$caption_font_weight: bold;
$title_font_size: 24px;
$hover_color: #31DE70;
$burgundy_color: #52001D;
$fuchsia: #AB1594;
$green_color: #00A110;
$text_font_size: 20px;